.safe-trip-title{font-size: 24px; color: #1C5296; margin: 40px 0 0;}
.safe-img img{width: 100%;}
.safe-img{padding: 20px 35px 10px;}
.safe-tip-content{color: #666; font-size: 14px; margin: 10px 0 10px; text-align: center;}
.from-box{margin-top:0px;}
.from-box.weui-cells:before,.from-box.weui-cells:after{display: none;}
.from-box.weui-cells .weui-cell{
	display: block;
	padding: 5px 10px;
	margin-top: 15px;
}
.from-box.weui-cells .weui-cell .weui-label{
	margin-bottom:5px ;
	font-size: 15px;
	width: 100%;
}
.from-box.weui-cells .weui-cell .weui-label .red{color: #E20C30; margin-left: 5px; font-size: 18px; vertical-align: -2px;}
.from-box.weui-cells_form input{ color: #1C5296; font-size: 16px;}
.from-box.weui-cells_form input::-webkit-input-placeholder,.from-box.weui-cells_form  textarea::-webkit-input-placeholder {
		color: #999;
	}
.from-box.weui-cells .weui-cell:before{display: none;}
.from-box.weui-cells .weui-cell:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #a40008;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: 0px;
    z-index: 2;
}
.tip-font{color: #999; font-size: 14px; margin-top: 5px;}

.weui-btn{line-height: 2.33333333333;}

.icon_down{position: absolute;right: 10px; bottom: 5px; width: 16px;}
.icon_down img{width: 100%;}

.company-name{ text-align: center; margin:40px 0 30px; color: #999; font-size: 15px;}
.company-name img{width: 150px; vertical-align: -2px; margin-right: 5px;}

.weui-dialog__btn,.toolbar .picker-button,.weui-cells_radio .weui-check:checked+.weui-icon-checked:before{
	color:#E20C30 ;
}
.weui-check__label:active{background: #fbf1f2;}
.weui-search-bar__box .weui-search-bar__input{
	font-size: 18px;
}
.weui-search-bar__box .weui-search-bar__input{
	padding: 8px 0;
}
.weui-search-bar__box .weui-icon-search{
	top: 7px;
	left: 6px;
}
.weui-search-bar__box .weui-icon-clear{top: 7px;}

.radio-box{max-height: 300px; overflow-y: auto; background: #fff;}
.weui-cells.radio-box:after{
	display: none;
}
.weui-search-bar{background: #F3F3F3;}

.body-bg{position: absolute; bottom: 0px; left: 0;}
.body-bg img{
	width: 100%;
	display: block;
}

.card-company{background-image: linear-gradient(149deg,#291AAA, #6ABAFF); border-radius: 10px; padding: 10px 10px; color: #fff; position: relative;height:170px; box-shadow: 0 0 10px rgba(25,36,142,0.7);margin: 30px 0; position: relative;}
.flex-box{ display: flex; align-items: center; justify-content: space-between; height: 130px;}
.card-icon{width: 30%;}
.card-img{width: 30%; position: absolute;bottom: 0; left: 0; }
.card-img img{width: 100%; display: block;}
.card-content{width: 70%; margin-top: 5px;}
.contentinfo{padding-left: 10px; padding-right: 5px;}
.contentinfo h4{font-size: 15px;font-weight: normal; line-height: 1.2em; margin-bottom: 10px;}
.contentinfo .name{
	font-size: 15px;
	height: 23px; 
	margin-bottom: 5px;
}
.contentinfo .name-en{
	font-family: arial;
	font-size: 15px;
	height: 23px; 
	margin-bottom: 5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	display: block; 
	white-space: nowrap;
}

.pink-bg{
	background-image: linear-gradient(149deg,#ff3768, #f78ca0);
	box-shadow: 0 0 10px rgba(255,55,104,0.7); 
	margin-top:15px;
}
.green-bg{
	background-image: linear-gradient(149deg,#00bc9e, #92fe9d );
	box-shadow: 0 0 10px rgba(0,188,158,0.7); 
	margin-top:15px;
}
